aside{
	width: 50%;
	padding: 5% 0;
	align-self: center;
	
	h1{
    	text-align: center;
    	font-size: 2.2rem;
    }
}


.list-items{
	width: 75%;
	margin: 0 auto;
	font-size: 20px;
	
	ul{
    	margin-left: 100px;
    	line-height: 2.5;
    	list-style-position: inside;
    	font-weight: bold;
    	opacity: 0.6;
    }
}

.fadeWords{
	font-weight: normal;
	opacity: 0.9;
}